.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}

:root {
  --app-primary: #d83231;
}

.zaui-header {
  background-color: var(--app-primary) !important;
  border-bottom: none !important;
  height: 80px !important;

  .zaui-header-title {
    color: white !important;
  }

  .zaui-icon {
    color: white !important;
  }
}

@keyframes user-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.user-marker-bounce {
  animation: user-bounce 1.5s infinite ease-in-out;
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.3));
}

.custom-pin-icon {
  background: none !important;
  border: none !important;
}
