.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}

:root {
  --app-primary: #d83231;
}

.zaui-header {
  background-color: var(--app-primary) !important;
  border-bottom: none !important;
  height: 80px !important;

  .zaui-header-title {
    color: white !important;
  }

  .zaui-icon {
    color: white !important;
  }
}
